# Emacs backup files
*~
# Images
*png
# Compilation crap
*_C.d
*_C.so
*_ACLiC_dict_rdict.pcm
# Datacards
datacard*.txt
datacard*.root
higgsCombine*root
binning*root
# PSB logs
*.sh.o*
*.sh.e*
# Roostats
roostats-*
